@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
body {
  opacity: 1 !important;
}
body.KG_active {
  position: fixed;
  height: 100%;
  overflow-y: hidden;
}
#keepgrowLogin,
#keepgrowLogin *,
#syncServicePopup,
#syncServicePopup * {
  font-family:
    Noto Sans KR,
    sans-serif !important;
}
#keepgrowLogin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  z-index: 999;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#keepgrowLogin::-webkit-scrollbar {
  display: none;
}
#keepgrowLogin .syncWrap {
  margin: 0 auto;
  max-width: 420px;
}
#keepgrowLogin .btn {
  margin-top: 10px;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 54px;
  max-height: unset;
  line-height: 54px;
  border: 1px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
#keepgrowLogin .btn a {
  display: block;
}
#keepgrowLogin .btn > button {
  display: block;
  width: 100%;
  height: 54px;
  line-height: 54px;
  border-radius: 10px;
  background: #f6f7f9;
  font-size: 17px;
  font-weight: 500;
  color: #222;
  border: 0;
}
#keepgrowLogin .btn.btnKakao > button {
  background: #fee500;
  font-size: 17px;
  color: #111;
  border: none;
}
#keepgrowLogin a:hover {
  text-decoration: none;
}
#keepgrowLogin #KG_header {
  border: none;
}
#keepgrowLogin #KG_header:after,
#keepgrowLogin #KG_header:before {
  display: none;
}
#keepgrowLogin #KG_header .backBtn {
  background: url(//storage.keepgrow.com/admin/20230625233259293.png) no-repeat 0;
  background-size: auto 16px;
}
#keepgrowLogin #KG_header .topNav {
  display: flex;
  justify-content: space-between;
  padding: 17px 20px;
}
#keepgrowLogin #KG_header .topNav > div {
  width: 16px;
  height: 16px;
}
#keepgrowLogin #KG_header .homeBtn {
  background: url(//storage.keepgrow.com/admin/20230625234558976.png) no-repeat 0;
  background-size: auto 16px;
}
#keepgrowLogin #KG_header .homeBtn a {
  display: block;
  width: 100%;
  height: 100%;
}
#keepgrowLogin #KG_header .shopName {
  overflow: hidden;
  margin: auto !important;
  padding: 5px 20px 0 !important;
  line-height: normal !important;
  text-align: center;
}
#keepgrowLogin #KG_header .shopName,
#keepgrowLogin #KG_header .shopName a {
  font-size: 19px;
  font-weight: 500;
  color: #222;
}
#keepgrowLogin #KG_header .shopName img {
  margin: 0;
  padding: 0;
  display: inline-block;
  max-width: 50% !important;
  max-height: 60px !important;
  vertical-align: baseline;
  image-rendering: auto;
}
body #keepgrowLogin #KG_header .shopName img {
  height: auto !important;
}
#keepgrowLogin #KG_section {
  padding: 0 20px;
}
#keepgrowLogin #KG_section .contents {
  position: relative;
  width: 100%;
  padding: 34px 0;
  border-top: 1px solid #f5f5f5;
}
#keepgrowLogin #KG_section .contents:after {
  position: absolute;
  top: -8px;
  left: 50%;
  content: '또는';
  margin: 0 auto;
  padding: 0 10px;
  background: #fff;
  font-size: 12px;
  color: #b2b2b2;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#keepgrowLogin #KG_section .contents:first-child {
  border-top: none;
}
#keepgrowLogin #KG_section .contents:first-child:after {
  display: none;
}
#keepgrowLogin .contents .title {
  margin: 0 0 5px;
  color: #222;
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
}
#keepgrowLogin .contents .text,
#keepgrowLogin .mappingLogin #formWrap .text {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #222;
}
#keepgrowLogin .contents .text b,
#keepgrowLogin .contents .text span,
#keepgrowLogin .mappingLogin #formWrap .text b,
#keepgrowLogin .mappingLogin #formWrap .text span {
  font-size: 15px;
  vertical-align: text-top;
}
#keepgrowLogin .contents .sec {
  font-size: 20px;
  text-align: center;
  color: #666;
}
#keepgrowLogin .contents .sec .num {
  font-size: 80px;
  font-weight: 700;
}
#keepgrowLogin .contents .btnKakaoSubmit {
  background: #31363d;
  font-size: 15px;
  color: #fff;
}
#keepgrowLogin .contents .btnKakao,
#keepgrowLogin .contents .btnNoKakao {
  margin-top: 0;
  padding: 0 0 0 20px;
  line-height: 54px !important;
  background-color: #fee500;
  font-size: 17px;
  color: #111;
  background-image: url(//storage.keepgrow.com/admin/campaign/20200611043456590.svg) !important;
  background-repeat: no-repeat;
  background-size: 22px !important;
  background-position: 20px !important;
}
#keepgrowLogin #mappingLogin .contents .btnNoKakao {
  margin-top: 0;
  height: 54px;
  line-height: 54px;
}
#keepgrowLogin #bannerSec {
  margin-top: -10px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
}
#keepgrowLogin #bannerSec img {
  padding: 0;
  margin: 0;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}
#keepgrowLogin #tabMenu {
  margin-bottom: 15px;
  padding: 3px;
  font-size: 0;
  letter-spacing: 0;
  border-radius: 20px;
  background: #f6f7f9;
}
#keepgrowLogin #tabMenu li {
  display: inline-block;
  width: 50%;
}
#keepgrowLogin #tabMenu li a {
  display: inline-block;
  width: 100%;
  height: 34px;
  line-height: 32px;
  background: #f6f7f9;
  border: unset;
  border-radius: 17px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #888;
  box-sizing: border-box;
}
#keepgrowLogin #tabMenu li.active a {
  position: relative;
  background: #222;
  border: unset;
  color: #fff;
}
#keepgrowLogin #formWrap > div {
  display: none;
}
#keepgrowLogin #formWrap > div.active {
  width: 100%;
  display: block;
}
#keepgrowLogin #formWrap > form {
  width: 100%;
  padding: 0;
  margin: 0;
}
#keepgrowLogin #formWrap .text {
  margin-bottom: 15px;
}
#keepgrowLogin #formWrap .inputBox input#guestPassword {
  margin-top: 10px;
}
#keepgrowLogin #formWrap .inputBox label.input_title {
  height: 16px;
  min-height: unset;
  line-height: 16px;
  color: #888;
  font-size: 11px;
  font-weight: 400;
  z-index: 1;
}
#keepgrowLogin #formWrap .inputBox input {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: none !important;
  border-bottom: 1px solid #e5e5e5 !important;
  border-radius: unset;
  font-size: 15px;
  color: #000;
  box-sizing: border-box;
  outline: none;
}
#keepgrowLogin #formWrap .inputBox input.onfocus {
  height: 33px;
  line-height: 33px;
  border-bottom: 1px solid #222 !important;
}
#keepgrowLogin #formWrap .inputBox input::placeholder {
  color: #888;
  font-size: 14px;
}
#keepgrowLogin #formWrap .inputBox input#member_passwd {
  padding-right: 38px;
}
#keepgrowLogin #formWrap .inputBox > div {
  position: relative;
  margin-top: 10px;
}
#keepgrowLogin #formWrap .inputBox .inputBox_passwd .chk_passwd {
  display: none;
  content: '';
  position: absolute;
  padding: 18px 10px 19px;
  top: 0;
  right: 0;
  width: 18px;
  height: 13px;
  background: url(//storage.keepgrow.com/admin/20230627044452575.png) no-repeat 10px;
  background-size: 18px !important;
  z-index: 1;
  box-sizing: unset !important;
  -webkit-box-sizing: unset !important;
}
#keepgrowLogin #formWrap .inputBox .inputBox_passwd .chk_passwd.active {
  background: url(//storage.keepgrow.com/admin/20230629004733880.png) no-repeat 10px;
}
#keepgrowLogin #formWrap .loginCheckBox {
  margin: 15px 0;
}
#keepgrowLogin #formWrap .loginCheckBox li {
  display: inline-block !important;
}
#keepgrowLogin #formWrap .loginCheckBox li input[type='checkbox'] {
  background-size: cover !important;
  background-image: unset !important;
  visibility: visible;
}
#keepgrowLogin #formWrap .loginCheckBox li {
  padding-right: 24px;
  display: inline-block;
}
#keepgrowLogin #formWrap .loginCheckBox li input[type='checkbox'] {
  position: relative;
  top: 0;
  margin: 0 5px 0 0;
  width: 24px !important;
  height: 24px !important;
  border: 1px solid #c5c5c5;
  background-color: #fff !important;
  border-radius: 100% !important;
  -webkit-appearance: none !important;
  background: unset;
}
#keepgrowLogin #formWrap .loginCheckBox li input[type='checkbox']:has(+ label.on) {
  border: unset;
  background-color: #222 !important;
  background-image: url(//storage.keepgrow.com/admin/20230626000555378.png) !important;
  background-size: 9.5px !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
}
#keepgrowLogin #formWrap .loginCheckBox li label {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: normal !important;
  vertical-align: top;
  background: none;
}
#keepgrowLogin #formWrap .loginBtn,
#keepgrowLogin #formWrap .nomemberLoginBtn,
#keepgrowLogin #memberJoin .joinBtn,
#keepgrowLogin #memberLogin .redirectBtn {
  padding: 0;
  background: #f6f7f9;
  font-size: 17px;
  color: #222;
  font-weight: 500;
}
#keepgrowLogin #formWrap .nomemberLoginBtn {
  margin-top: 30px;
}
#keepgrowLogin #formWrap .loginBtn {
  margin-top: 0;
}
#keepgrowLogin #memberLogin .redirectBtn {
  margin-bottom: 30px;
}
#keepgrowLogin #formWrap .nomemberBuyBtn #guestBoosterBtn,
#keepgrowLogin #formWrap .nomemberBuyBtn a,
#keepgrowLogin #formWrap .nomemberBuyBtn button {
  margin: 0;
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #222;
  font-size: 16px;
}
#keepgrowLogin #formWrap .utilMenu {
  float: inherit;
  margin-top: 15px;
  width: 100%;
  font-size: 0;
  border: none;
}
#keepgrowLogin #formWrap .utilMenu a {
  display: inline-block;
  margin-left: 10.5px;
  padding-left: 10.5px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
}
#keepgrowLogin #formWrap .utilMenu a:nth-child(2) {
  position: relative;
}
#keepgrowLogin #formWrap .utilMenu a:nth-child(2):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  width: 1px;
  height: 14px;
  background: #e1e1e1;
}
#keepgrowLogin #formWrap .utilMenu a.right {
  float: right;
  border-left: none;
  color: #222;
}
#keepgrowLogin #formWrap .utilMenu a:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}
#keepgrowLogin #memberJoin .joinBtn {
  margin-top: 0;
}
#keepgrowLogin #snsLogin {
  display: flex;
  justify-content: center;
  line-height: normal;
}
#keepgrowLogin .snsLoginBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 280px;
  font-size: 0;
}
#keepgrowLogin .snsLoginBox li {
  padding: 0;
  width: auto !important;
  cursor: pointer;
}
#keepgrowLogin .snsLoginBox li:not(:nth-child(5n + 1)) {
  margin-left: 10px !important;
}
#keepgrowLogin .snsLoginBox li:nth-child(n + 6) {
  margin-top: 15px !important;
}
#keepgrowLogin .snsLoginBox li,
#keepgrowLogin .snsLoginBox li a {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#keepgrowLogin .snsLoginBox li a {
  width: 48px;
  height: 48px !important;
  background-size: 45% !important;
  border-radius: 50%;
}
#keepgrowLogin .snsLoginBox li.btn_naver a {
  text-transform: uppercase;
  background: url(//storage.keepgrow.com/admin/20230627004811200.svg) no-repeat 50% !important;
  background-color: #02c659 !important;
}
#keepgrowLogin .snsLoginBox li.btn_facebook a {
  background: url(//storage.keepgrow.com/admin/20230627004750864.svg) no-repeat 50% !important;
  background-color: #1877f2 !important;
  background-size: 24px !important;
}
#keepgrowLogin .snsLoginBox li.btn_google a {
  border: 1px solid #e5e5e7;
  background: url(//storage.keepgrow.com/admin/campaign/20200619043043517.svg) no-repeat 50% !important;
}
#keepgrowLogin .snsLoginBox li.btn_googleplus a {
  background: url(//storage.keepgrow.com/admin/campaign/20200619043043517.svg) no-repeat 15px;
  background-size: 20px;
}
#keepgrowLogin .snsLoginBox li.btn_line a {
  background: url(//storage.keepgrow.com/admin/20230627004335907.svg) no-repeat 50% !important;
  background-color: #1dcc64 !important;
}
#keepgrowLogin .snsLoginBox li.btn_apple a {
  background: url(//storage.keepgrow.com/admin/20230627004729776.svg) no-repeat 50% !important;
  background-color: #000 !important;
  background-size: 18px !important;
}
#keepgrowLogin .snsLoginBox li.btn_payco a {
  background: url(//storage.keepgrow.com/admin/20240201075658553.svg) no-repeat 55% !important;
  background-color: #e7312d !important;
  background-size: 16px !important;
}
#keepgrowLogin #KG_footer {
  margin: 0 0 20px;
  padding: 0 20px;
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: hsla(0, 0%, 100%, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#keepgrowLogin #KG_footer:before {
  display: none;
}
#keepgrowLogin #KG_footer .ment {
  display: block;
  padding: 26px 0 15px;
  line-height: normal;
  font-size: 13px;
  color: #222;
}
#keepgrowLogin #KG_footer .ment > div {
  line-height: 19px;
}
#keepgrowLogin #KG_footer .ment > div.icon {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}
#keepgrowLogin #KG_footer .ment > div.icon:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 3.5px;
  width: 10px;
  height: 10px;
  background: url(//storage.keepgrow.com/admin/20230203104013439.png) no-repeat 50% / cover;
}
#keepgrowLogin #KG_footer .copyright {
  font-size: 13px;
  color: #888;
  text-transform: uppercase;
  text-align: left !important;
}
#syncServicePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.2em;
  color: #222;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999999;
  -webkit-font-smoothing: initial;
}
#syncServicePopup a:hover {
  text-decoration: none !important;
  color: none !important;
}
#syncServicePopup .popupWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  max-width: 380px;
  width: calc(100% - 40px);
  max-height: 90%;
  margin: 0 auto;
  border-radius: 15px;
}
#syncServicePopup .popupWrap .header {
  display: none;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #4e25e6;
}
#syncServicePopup .popupWrap .header .icon {
  width: 71px;
  height: 13.77px;
  background: url(//storage.keepgrow.com/admin/20230713115655677.png) no-repeat 50% / cover;
}
#syncServicePopup .popupWrap .header .text {
  padding: 15px 0 20px;
  line-height: 1.2;
  color: #fff;
}
#syncServicePopup .popupWrap .header .text p {
  line-height: 1.2;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
#syncServicePopup .popupWrap .header .text p:first-child {
  margin-bottom: 3px;
}
#syncServicePopup .popupWrap .header .text p:last-child {
  margin-top: 10px;
  font-size: 11px;
}
#syncServicePopup .popupWrap .header .text p b {
  font-weight: 700 !important;
}
#syncServicePopup .popupWrap .section {
  flex: 1;
  overflow-y: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#syncServicePopup .popupWrap .footer {
  position: relative;
  z-index: 1;
  display: block;
  margin-top: -15px;
  padding: 14px 16px;
  border-radius: 16px;
  background: hsla(0, 0%, 100%, 0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
#syncServicePopup .popupWrap .footer div.textBox > div:not(:last-child) {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 17px;
}
#syncServicePopup .popupWrap .footer div.textBox > div b {
  font-weight: 700 !important;
}
#syncServicePopup .popupWrap .footer div.textBox > div.ment {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#syncServicePopup .popupWrap .footer div.textBox > div.ment > span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
#syncServicePopup .popupWrap .footer div.textBox > div.ment > span .highlight {
  color: #2898ff;
}
#syncServicePopup .popupWrap .footer div.textBox > div.ment b {
  font-weight: 700 !important;
}
#syncServicePopup .popupWrap .footer div.btnBox {
  display: flex;
  margin-top: 12px;
  align-items: center;
}
#syncServicePopup .popupWrap .footer div.btnBox .closed {
  position: absolute;
  top: -30px;
  right: 10.5px;
  padding: 0 21px 0 8px;
  line-height: 22px;
  border-radius: 13px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 12px;
}
#syncServicePopup .popupWrap .footer div.btnBox .closed:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: url(//storage.keepgrow.com/admin/20240131140629706.png) no-repeat 50% / cover;
}
#syncServicePopup .popupWrap .section .closed {
  position: absolute;
  top: 18px;
  right: 28px;
}
#syncServicePopup .popupWrap .section .closed:after {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(//storage.keepgrow.com/admin/20250805045043231.png) no-repeat 50%/16px;
  background-color: hsla(0, 0%, 100%, 0.7);
  border-radius: 50%;
  z-index: 1;
}
#syncServicePopup .popupWrap .footer div.btnBox .goCheck {
  position: relative;
  flex: 1;
  height: 42px;
  line-height: 42px;
  border-radius: 8px;
  background: url(//storage.keepgrow.com/admin/20250807074636463.png) no-repeat 50% / cover;
  text-align: center;
}
#syncServicePopup .popupWrap .footer div.btnBox .goCheck a {
  display: block;
  line-height: unset;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 720px) {
  #syncServicePopup .popupWrap {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 480px) {
  #syncServicePopup .popupWrap .footer div.textBox > div {
    font-size: 3.3333vw;
  }
  #syncServicePopup .popupWrap .header #tabContent > li a {
    font-size: 3.8889vw !important;
  }
  #keepgrowLogin .contents .title {
    margin: 0 0 6px;
    font-size: 20px;
    font-weight: 500;
  }
  #keepgrowLogin .contents .text,
  #keepgrowLogin .mappingLogin #formWrap .text {
    margin-bottom: 12px;
    font-size: 13px;
  }
  #keepgrowLogin #KG_header .shopName a {
    font-size: 18px;
  }
  #keepgrowLogin #KG_header .backBtn {
    margin: 10px 10px 0;
    padding-left: 10px;
    width: 61px;
    height: 21px;
    line-height: 18px;
    font-size: 11px;
    background-size: auto 8px;
    background-position-x: 6px;
  }
  #keepgrowLogin #KG_footer .ment {
    font-size: 12px;
  }
  #keepgrowLogin #formWrap .utilMenu {
    margin-top: 18px;
    text-align: center;
  }
  #keepgrowLogin #formWrap .utilMenu a.right {
    float: unset;
    border-left: 1px solid #e1e1e1 !important;
  }
  #keepgrowLogin #formWrap .inputBox input {
    font-size: 13px;
  }
  #keepgrowLogin .snsLoginBox li a {
    font-size: 12px;
  }
}
#keepgrowLogin #KG_section.mappingActive > div:not(#mappingLogin) {
  display: none;
}
#keepgrowLogin #mappingLogin #formWrap .text,
#keepgrowLogin #mappingLogin #formWrap > div {
  display: block;
}
#keepgrowLogin #mappingLogin .btn {
  margin: 0 !important;
}
#keepgrowLogin #mappingLogin .inputBox input:last-child {
  margin-top: 10px !important;
}
#keepgrowLogin #formWrap .inputBox input#existingId {
  border-bottom: 1px solid #e1e1e1;
}
#keepgrowLogin #accountConnect {
  padding-top: 12px;
}
#keepgrowLogin #accountConnect .radioBox {
  margin-bottom: 24px;
}
#keepgrowLogin #accountConnect .radioBox label {
  position: relative;
  display: flex;
  padding: 12px;
  width: 100%;
  min-height: 45px;
  border: 1px solid #aaa;
  border-radius: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: #888;
}
#keepgrowLogin #accountConnect .radioBox label input:checked {
  background-color: #222;
  background-image: url(//storage.keepgrow.com/admin/campaign/20200623015637587.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 14px;
}
#keepgrowLogin #accountConnect .radioBox label input {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: none;
  background: #efefef;
  border-radius: 20px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}
#keepgrowLogin #accountConnect .radioBox label span {
  flex: 1;
  line-height: normal;
}
#keepgrowLogin #accountConnect .radioBox label input:focus {
  outline: none;
}
#keepgrowLogin #accountConnect .guide {
  padding: 12px;
  background: #fafafa;
  border: 1px solid #efefef;
  border-radius: 5px;
  color: #3b68bb;
}
#keepgrowLogin #accountConnect .radioBox {
  margin: 0;
  min-height: 60px;
  font-size: 0;
}
#keepgrowLogin #accountConnect .radioBox li {
  margin-bottom: 10px;
  padding: 0;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#keepgrowLogin #accountConnect .radioBox li label {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
  width: 100%;
  height: 44px;
  line-height: 42px;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: #e5e5e5;
}
#keepgrowLogin #accountConnect .radioBox li label input {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  border: 1px solid #c5c5c5;
  background: unset;
  border-radius: 50%;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}
#keepgrowLogin #accountConnect .radioBox li label input:checked {
  border: none;
  background-color: #222;
  background-image: url(//storage.keepgrow.com/admin/20230626000555378.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 14px;
}
#keepgrowLogin #accountConnect .radioBox li label input:checked:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 1px solid #222;
  color: #222;
}
#mappingLogin #accountConnect .radioBox li label input:checked ~ span {
  color: #222;
}
#keepgrowLogin #accountConnect .radioBox li label input:focus {
  outline: none;
}
#keepgrowLogin #accountConnect .radioBox li label span {
  display: inline-block;
  width: calc(95% - 25px);
  height: 100%;
  line-height: 43px;
  vertical-align: middle;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#keepgrowLogin #accountConnect .guide {
  padding: 25px 0;
  font-size: 13px;
  color: #888;
  background: none;
  border: none;
}
#keepgrowLogin #mappingLogin .contents #accountConnect .btn {
  background: #efefef;
}
#keepgrowLogin .contents .btnKakao + .btnNaver,
#keepgrowLogin .contents .btnNaver + .btnKakao {
  margin-top: 10px;
}
#keepgrowLogin .contents .btnNaver {
  margin-top: 0;
  padding: 0 0 0 20px;
  background-color: #02c659;
  font-size: 16px;
  color: #fff;
  background-image: url(//storage.keepgrow.com/admin/20230627004811200.svg) !important;
  background-repeat: no-repeat;
  background-size: 22px !important;
  background-position: 20px !important;
}
